<nav class="bg-black text-white px-4 py-3 w-full fixed z-20">
    <div class="topbar container mx-auto flex justify-between items-center">
      	<!-- Brand Logo & Text -->
      	<a href="/" class="text-2xl md:text-3xl branding hover:text-green-400 transition-all duration-500">LokalBonanza</a>
  
      	<!-- Desktop Menu -->
      	<div class="hidden md:flex space-x-8">
        	<a href="/" class="hover:text-green-400 transition-all duration-500">Home</a>
        	<a href="/products" class="hover:text-green-400 transition-all duration-500">Products</a>
        	<a href="/aboutus" class="hover:text-green-400 transition-all duration-500">About Us</a>
      	</div>
      
      	<div class="flex">
			<button class="border-r">Login</button>
			
        	<a href="/cart" class="relative p-3">
          		<app-icon key="cart" class="size-8 hover:text-green-400 transition-all duration-500"></app-icon>
          		<span class="absolute -top-2 -right-2 bg-gray-400 text-xs rounded-full px-1 m-3">{{ cartItems }}</span>
        	</a>

			<!-- Mobile Menu Button -->
			<button
				class="flex md:hidden items-center p-3 text-white"
				(click)="isOpen = !isOpen"
			>
				<app-icon key="menu" class="size-8 absolute" [@menuButton]="isOpen ? 'isOpen': 'isClosed'"></app-icon>
				<app-icon key="close" class="size-8" [@closeButton]="isOpen ? 'isOpen': 'isClosed'"></app-icon>
			</button>
      	</div>
    </div>
</nav>

<!-- Mobile Drawer Menu -->
<div class="mobile-menu text-white fixed z-10 top-20 left-0 md:hidden bg-black text-center space-y-1 py-2 w-full" [@drawer]="isOpen ? 'isOpen': 'isClosed'">
	  <a href="/" class="block">Home</a>
	  <a href="/products" class="block">Products</a>
	  <a href="/aboutus" class="block">About Us</a>
</div>