<div class="aboutus p-5 md:w-1/2 m-auto text-black text-justify">
    <h1 class="text-2xl md:text-4xl font-bold mb-5">About Us</h1>
    <div class="text-sm md:text-base">
        <p class="pb-5">
            Welcome to <strong>LokalBonanza</strong>! This site is a demonstration of my passion for eCommerce design and development, crafted to showcase the latest trends in user-friendly, interactive online shopping.
        </p>
        <p class="pb-5">
            If you're a business or entrepreneur looking to bring a unique idea to life, I'd love to help. Feel free to reach out - I'm always open to taking on exciting new side projects! Contact me at: <a href="mailto:pehcx@outlook.com" class="text-green-800">{{ 'pehcx@outlook.com' }}</a>
        </p>
    </div>
</div>