<footer class="bg-black">
    <div class="mx-auto w-full max-w-screen-xl p-6 md:py-8">
        <div class="md:flex md:justify-between">
            <div class="mb-6 md:mb-0">
                <a href="/" class="text-3xl branding hover:text-green-400 transition-all duration-500 text-white">LokalBonanza</a>
            </div>
            <div class="grid grid-cols-2 gap-4 md:gap-16">
                <div>
                    <h2 class="mb-6 text-base uppercase text-white">Built With</h2>

                    <h3 class="text-sm text-slate-500 mt-5">Libraries & Frameworks</h3>
                    <ul class="text-gray-400">
                        <li class="my-2">
                            <a target="_blank" href="https://angular.dev" class="text-sm hover:text-green-400 transition-all duration-500">Angular</a>
                        </li>
                        <li class="my-2">
                            <a target="_blank" href="https://supabase.com" class="text-sm hover:text-green-400 transition-all duration-500">Supabase</a>
                        </li>
                        <li class="my-2">
                            <a target="_blank" href="https://flowbite.com" class="text-sm hover:text-green-400 transition-all duration-500">Flowbite</a>
                        </li>
                        <li class="my-2">
                            <a target="_blank" href="https://tailwindcss.com" class="text-sm hover:text-green-400 transition-all duration-500">Tailwind CSS</a>
                        </li>
                    </ul>

                    <h3 class="text-sm text-slate-500 mt-5">
                        Assets
                    </h3>
                    <ul class="text-gray-400">
                        <li class="my-2">
                            <a target="_blank" href="https://www.pexels.com" class="text-sm hover:text-green-400 transition-all duration-500">Pexels</a>
                        </li>
                    </ul>
                </div>

                <div class="grid grid-rows-2">
                    <div>
                        <h2 class="mb-6 text-base uppercase text-white">Follow us</h2>
                        <ul class="text-gray-400 font-medium">
                            <li class="my-2">
                                <a target="_blank" href="https://github.com/pehcx" class="text-sm hover:text-green-400 transition-all duration-500">Github</a>
                            </li>
                        </ul>
                    </div>
    
                    <div>
                        <h2 class="mb-6 text-base uppercase text-white">Legal</h2>
                        <ul class="text-gray-400 font-medium">
                            <li class="my-2">
                                <a href="terms" class="text-sm hover:text-green-400 transition-all duration-500">Terms of Use</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <hr class="my-6 border-gray-700 md:mx-auto lg:my-8" />
        <div class="md:flex md:items-center md:justify-between">
            <span class="text-sm text-gray-400 md:text-center">You've reached the bottom!
            </span>
        </div>
    </div>
</footer>
