<nav class="bg-black text-white px-4 py-3">
    <div class="container mx-auto flex justify-between items-center">
      
      <!-- Brand Logo & Text -->
      <a href="#" class="text-xl font-semibold">Fruit & Vege Ecommerce</a>
  
      <!-- Desktop Menu -->
      <div class="hidden md:flex space-x-8">
        <a href="/" class="hover:text-gray-400">Home</a>
        <a href="/products" class="hover:text-gray-400">Products</a>
        <a href="/aboutus" class="hover:text-gray-400">About Us</a>
      </div>
      
      <div class="flex">
        <!-- Cart Icon -->
        <a href="#" class="relative p-3">
          <app-icon key="cart" class="size-8"></app-icon>
          <span class="absolute -top-2 -right-2 bg-gray-400 text-xs rounded-full px-1 m-3">{{ cartItems }}</span>
        </a>
    
        <!-- Mobile Menu Button -->
        <button
          class="md:hidden flex items-center p-3 text-white"
          (click)="isOpen = !isOpen"
        >
          <app-icon key="menu" class="size-8"></app-icon>
        </button>
      </div>
    </div>

    <!-- Mobile Menu Links -->
    <div *ngIf="isOpen" class="md:hidden bg-black text-center space-y-1 py-2">
      <a href="#" class="block hover:bg-gray-700 py-2">Home</a>
      <a href="#" class="block hover:bg-gray-700 py-2">Products</a>
      <a href="#" class="block hover:bg-gray-700 py-2">About Us</a>
    </div>
  </nav>
  