<div class="home flex flex-col">
    <div class="hero-banner flex items-center">
        <div class="banner-text text-white flex flex-col items-center rounded-xl p-10 m-5">
            <div class="main-text text-6xl font-extrabold">
                Harvested For You
            </div>
            <div class="sub-text text-xl mt-7 w-4/6">
                Our fruits and veggies are hand-picked and delivered to your door - fresher than ever!
            </div>
        </div>
    </div>
    
    <div class="benefit-section w-4/5 m-auto">
        <ul>
            <div class="flex flex-col items-center sm:flex-row-reverse sm:items-start w-full mb-10">
                <div class="text-justify p-5 w-full sm:w-1/2">
                    <h2 class="text-3xl font-bold text-green-900">Quality Selection</h2>
                    <p class="text-xl mt-4 text-gray-600">
                        <li><strong>Careful Curation:</strong> Each product is chosen through a meticulous selection process to ensure only the highest quality items are offered.</li>
                        <li><strong>Stringent Standards:</strong> Our standards focus on durability, performance, and aesthetic value, so customers receive products that exceed expectations.</li>
                        <li><strong>Customer Satisfaction:</strong> Aims to deliver exceptional value, ensuring each product meets the needs and preferences of discerning customers.</li>
                    </p>
                </div>
                <div class="mt-4 sm:mt-0 w-full sm:w-1/2">
                    <img src="/assets/images/benefit1.jpg" alt="Quality Selection" class="w-full rounded-3xl">
                </div>
            </div>
        
            <div class="flex flex-col items-center sm:flex-row sm:items-start w-full mb-10">
                <div class="text-justify p-5 w-full sm:w-1/2">
                    <h2 class="text-3xl font-bold text-green-900">Sustainable Practices</h2>
                    <p class="text-xl mt-4 text-gray-600">
                        <li><strong>Eco-Friendly Choices:</strong> We prioritize sustainable farming practices that protect the soil and conserve water, promoting long-term agricultural health.</li>
                        <li><strong>Reduced Food Miles:</strong> By sourcing close to home, we cut down on transport distances, lowering the carbon footprint associated with our deliveries.</li>
                        <li><strong>Commitment to Zero-Waste:</strong> We work with farmers to minimize waste, utilizing surplus produce and ensuring nothing goes to waste.</li>
                    </p>
                </div>
                <div class="mt-4 sm:mt-0 w-full sm:w-1/2">
                    <img src="/assets/images/benefit2.jpg" alt="Local Sourcing" class="w-full rounded-3xl">
                </div>
            </div>
        
            <div class="flex flex-col items-center sm:flex-row-reverse sm:items-start w-full mb-10">
                <div class="text-justify p-5 w-full sm:w-1/2">
                    <h2 class="text-3xl font-bold text-green-900">Fast & Reliable Delivery</h2>
                    <p class="text-xl mt-4 text-gray-600">
                        <li><strong>Efficient Logistics:</strong> Our streamlined logistics network ensures orders are processed and dispatched quickly.</li>
                        <li><strong>Real-Time Tracking:</strong> Customers can track their orders in real-time, offering transparency and peace of mind.</li>
                        <li><strong>Guaranteed Delivery Times:</strong> Committed to meeting delivery timelines, with contingency plans to prevent delays and ensure reliable service.</li>
                    </p>
                </div>
                <div class="mt-4 sm:mt-0 w-full sm:w-1/2">
                    <img src="/assets/images/benefit3.jpg" alt="Fast & Reliable Delivery" class="w-full rounded-3xl">
                </div>
            </div>
        </ul>
    </div>
</div>

<!-- <pre *ngFor="let char of maintext | split; let i = index" [style.animation-delay]="i * 0.06 + 's'" class="animated">{{ char }}</pre> -->