<div class="p-5 lg:pl-10 lg:pr-10 lg:pb-10 lg:pt-7">
    <div class="flex justify-end mb-5">
      <icon key="close" class="size-8 cursor-pointer" (click)="closeDialog()" />
    </div>

    <div class="font-bold pb-2 border-b">
        Order ID: {{ data.order.id }}
    </div>

    <table class="w-full text-sm text-center text-black">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50">
            <tr>
                <th scope="col" class="px-6 py-3 text-center">
                    No.
                </th>
                <th scope="col" class="px-6 py-3 text-center">
                    Product
                </th>
                <th scope="col" class="px-6 py-3 text-center">
                    Qty
                </th>
                <th scope="col" class="px-6 py-3 text-center">
                    Price
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="odd:bg-white even:bg-slate-50 border-b" *ngFor="let item of data.order.order_items; let i = index">
                <td scope="row" class="px-6 py-4 text-center">
                    {{ i + 1 }}.
                </td>
                <td scope="row" class="px-6 py-4 text-center">
                    {{ item.products.name }}
                </td>
                <td scope="row" class="px-6 py-4 text-center">
                    {{ item.quantity }}
                </td>
                <td scope="row" class="px-6 py-4 text-center">
                    {{ item.price | number:'1.2-2' }}
                </td>
            </tr>
        </tbody>
    </table>

    <div class="font-bold text-lg w-full text-right border-b">
        RM {{ data.order.total | number:'1.2-2'}}
    </div>

    <div class="text-base font-bold py-2">
        Delivery Address
    </div>
    <div class="bg-gray-300 rounded my-1 p-2 text-sm text-gray-700">
        <div>
            {{ data.order.deliveries[0].delivery_addresses[0].full_name }}
        </div>
        <div>
            {{ data.order.deliveries[0].delivery_addresses[0].line_1 }}
        </div>
        <div>
            {{ data.order.deliveries[0].delivery_addresses[0].line_2 }}
        </div>
        <div>
            {{ data.order.deliveries[0].delivery_addresses[0].postal_code }}, {{ data.order.deliveries[0].delivery_addresses[0].city }}
        </div>
    </div>
</div>