<div class="cart min-h-[50vh] w-full md:w-3/4 2xl:w-1/2 m-auto">
    <h1 class="text-2xl md:text-4xl font-bold m-5">Cart</h1>
    
    <ng-container *ngIf="!failedLoading; else retry">
        <ng-container *ngIf="isLoading; else cartItemList">
            <div *ngFor="let _ of [].constructor(4)" class="cart-item flex flex-row p-5 border-b-2 border-b-gray-200 animate-pulse">
                <div class="rounded-3xl h-24 w-16 2xl:h-32 2xl:w-24 bg-gray-300"></div>
    
                <div class="ml-5 flex flex-col justify-between w-full">
                    <div class="h-5 w-32 bg-gray-300 mb-3"></div>
                    <div class="h-4 w-16 bg-gray-300 mb-3"></div>
                    <div class="flex flex-row items-center">
                        <div class="z-10 w-8 h-8 bg-gray-300"></div>
                        <div class="z-20 p-1 w-12 h-8 bg-gray-300 mx-2"></div>
                        <div class="z-10 w-8 h-8 bg-gray-300"></div>
                        <div class="ml-5 mr-auto h-4 w-20 bg-gray-300"></div>
                    </div>
                </div>
    
                <div class="w-32 ml-auto flex flex-col justify-around">
                    <div class="h-8 w-8 bg-gray-300 m-auto mb-3"></div>
                    <div class="h-4 w-16 bg-gray-300 m-auto"></div>
                </div>
            </div>
    
            <div class="p-5 flex flex-col animate-pulse">
                <div class="ml-auto text-right h-5 w-1/4 bg-gray-300 mb-3"></div>
                <div class="ml-auto h-10 w-32 bg-gray-300"></div>
            </div>
        </ng-container>
        <ng-template #cartItemList>
            <div class="flex flex-col" *ngIf="cartItems.length > 0; else emptyCart">
                <div *ngFor="let cartItem of cartItems" class="cart-item flex flex-row p-5 border-b-2 border-b-gray-200">
                    <img class="border border-gray-200 rounded-lg h-24 w-24 2xl:h-32 2xl:w-32 object-cover" [src]="getImagePath(cartItem.products.image_url)" />
                    
                    <div class="ml-5 flex flex-col justify-between">
                        <div class="text-xl font-bold ">
                            {{ cartItem.products.name }}
                        </div>
                        <div class="price">
                            RM {{ cartItem.products.price | number:'1.2-2' }}
                        </div>
        
                        <div class="flex flex-row">
                            <ng-container *ngIf="cartItem.products.stocks[0].available_quantity > 0; else notAvailable">
                                <div class="z-10 w-8 border border-r-0 border-gray-200 bg-gray-50 justify-center items-center flex cursor-pointer" (click)="modifyCartItemQuantity(cartItem.product_id, true)">
                                    <icon key="minus" class="size-4" />
                                </div>
                                <input type="number" step="1"
                                    [id]="cartItem.product_id"
                                    [value]="cartItem.quantity"
                                    [max]="cartItem.products.stocks[0].available_quantity"
                                    (change)="restrictToNumbers($event)"
                                    (blur)="preUpdateCart($event)"
                                    class="z-20 p-1 w-12 text-center text-gray-900 border border-gray-200 bg-gray-50 text-base focus:ring-green-400 focus:border-green-400" />
                                <div class="z-10 w-8 border border-l-0 border-gray-200 bg-gray-50 justify-center items-center flex cursor-pointer" (click)="modifyCartItemQuantity(cartItem.product_id)">
                                    <icon key="plus" class="size-4" />
                                </div>
                                <div class="pl-2 m-auto text-sm text-gray-400">
                                    available: {{ cartItem.products.stocks[0].available_quantity }}
                                </div>
                            </ng-container>
                            <ng-template #notAvailable>
                                <div class="text-gray-400 text-base">
                                    This item is no longer available
                                </div>
                            </ng-template>
                        </div>
                    </div>
                    
                    <div class="w-32 ml-auto flex flex-col justify-around md:border-l-2 md:border-l-gray-200 lg:pl-5">
                        <button class="m-auto" (click)="preRemove(cartItem.product_id)">
                            <icon key="trash" class="size-8 text-red-700 hover:text-red-400 transition-all duration-500" />
                        </button>
                        
                        <div class="text-center text-sm lg:text-base">
                            RM {{ subtotal(cartItem) | number: '1.2-2' }}
                        </div>
                    </div>
                </div>
        
                <!-- Total -->
                <div class="ml-auto p-5 flex flex-col ">
                    <div class="text-right text-base lg:text-lg">
                        Total: RM {{ total(cartItems) | number: '1.2-2' }}
                    </div>
                    <button (click)="checkout()" class="mt-3 text-white bg-black hover:text-green-400 font-bold text-base px-5 py-2.5 text-center cursor-pointer transition-all duration-500">
                        Checkout
                    </button>
                </div>
            </div>
            <ng-template #emptyCart>
                <div class="my-32 flex flex-col justify-center w-3/4 2xl:w-full m-auto">
                    <div class="text-center text-base lg:text-xl mb-8">
                        Your cart is feeling a little lonely. Add some items to make it happy!
                    </div>
                    <button class="m-auto w-fit text-xl text-center text-white font-bold bg-black hover:text-green-400 transition-all duration-500 px-5 py-3 m-8"
                        type="button" routerLink="/products"
                    >
                        Shop Now
                    </button>
                </div>
            </ng-template>
        </ng-template>
    </ng-container>
    <ng-template #retry>
        <div class="h-[300px] flex w-full">
            <button
            (click)="loadCartItems()" [disabled]="isLoading"
            class="inline-flex items-center px-3 py-2 text-lg font-bold text-center text-white bg-black hover:text-green-400 transform transition-all duration-500 m-auto">
            Reload
        </button>
        </div>
    </ng-template>
</div>