// Angular Material
@use '@angular/material' as mat;
@include mat.core();

$ecommerce-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette,
    tertiary: mat.$blue-palette,
  ),
  density: (
    scale: 0,
  )
));

:root {
  @include mat.all-component-themes($ecommerce-theme);
}

// Own CSS Styling
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

app-root {
    // Min height ensures the footer sticks to the bottom
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    main {
        margin-top: 80px;
        flex: 1;
    }
}

.branding {
    font-family: 'Bodoni MT Black', serif;
}

button:disabled {
  background-color: #71717a !important;
  cursor: not-allowed !important;

  &:hover {
    color: white !important;
  }
}

// The custom styling for Snack Bar
:root {
  @include mat.snack-bar-overrides((
    container-color: #000,
    container-shape: 999px,
    supporting-text-color: #FFF,
    supporting-text-size: 1rem,
  ));
}

/*******************************
Standard with Tailwind Styling


text-3xl text-green-900
text-xl text-gray-400

*/
